{% extends "sustav/base.html" %}


{% block content %}
    <h2>Upisi ({{ korisnik.email }})</h2>
    
            {% if korisnik.status == 'Redovni' %}
            <h4>1. Semestar:</h4>
            {% for upis in korisnik.upisi_set.all %}
                {% for p in content %}
                    {% if p.id == upis.predmet_id and p.sem_redovni == 1 %}
                        {{ p.ime }} ({{ upis.status }})<br>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <br>
            <h4>2. Semestar:</h4>
            {% for upis in korisnik.upisi_set.all %}
                {% for p in content %}
                    {% if p.id == upis.predmet_id and p.sem_redovni == 2 %}
                        {{ p.ime }} ({{ upis.status }})<br>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <br>
            <h4>3. Semestar:</h4>
            {% for upis in korisnik.upisi_set.all %}
                {% for p in content %}
                    {% if p.id == upis.predmet_id and p.sem_redovni == 3 %}
                        {{ p.ime }} ({{ upis.status }})<br>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <br>
            <h4>4. Semestar:</h4>
            {% for upis in korisnik.upisi_set.all %}
                {% for p in content %}
                    {% if p.id == upis.predmet_id and p.sem_redovni == 4 %}
                        {{ p.ime }} ({{ upis.status }})<br>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <br>
            <h4>5. Semestar:</h4>
            {% for upis in korisnik.upisi_set.all %}
                {% for p in content %}
                    {% if p.id == upis.predmet_id and p.sem_redovni == 5 %}
                        {{ p.ime }} ({{ upis.status }}) <br>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <br>
            <h4>6. Semestar:</h4>
            {% for upis in korisnik.upisi_set.all %}
                {% for p in content %}
                    {% if p.id == upis.predmet_id and p.sem_redovni == 6 %}
                        {{ p.ime }} ({{ upis.status }}) <br>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <br>
            
            {% elif korisnik.status == 'Izvanredni' %}
            <h4>1. Semestar:</h4>
            {% for upis in korisnik.upisi_set.all %}
                {% for p in content %}
                    {% if p.id == upis.predmet_id and p.sem_izvanredni == 1 %}
                        {{ p.ime }} ({{ upis.status }})<br>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <br>
            <h4>2. Semestar:</h4>
            {% for upis in korisnik.upisi_set.all %}
                {% for p in content %}
                    {% if p.id == upis.predmet_id and p.sem_izvanredni == 2 %}
                        {{ p.ime }} ({{ upis.status }})<br>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <br>
            <h4>3. Semestar:</h4>
            {% for upis in korisnik.upisi_set.all %}
                {% for p in content %}
                    {% if p.id == upis.predmet_id and p.sem_izvanredni == 3 %}
                        {{ p.ime }} ({{ upis.status }})<br>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <br>
            <h4>4. Semestar:</h4>
            {% for upis in korisnik.upisi_set.all %}
                {% for p in content %}
                    {% if p.id == upis.predmet_id and p.sem_izvanredni == 4 %}
                        {{ p.ime }} ({{ upis.status }})<br>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <br>
            <h4>5. Semestar:</h4>
            {% for upis in korisnik.upisi_set.all %}
                {% for p in content %}
                    {% if p.id == upis.predmet_id and p.sem_izvanredni == 5 %}
                        {{ p.ime }} ({{ upis.status }}) <br>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <br>
            <h4>6. Semestar:</h4>
            {% for upis in korisnik.upisi_set.all %}
                {% for p in content %}
                    {% if p.id == upis.predmet_id and p.sem_izvanredni == 6 %}
                        {{ p.ime }} ({{ upis.status }}) <br>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <br>
            <h4>7. Semestar:</h4>
            {% for upis in korisnik.upisi_set.all %}
                {% for p in content %}
                    {% if p.id == upis.predmet_id and p.sem_izvanredni == 7 %}
                        {{ p.ime }} ({{ upis.status }}) <br>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <br>
            <h4>8. Semestar:</h4>
            {% for upis in korisnik.upisi_set.all %}
                {% for p in content %}
                    {% if p.id == upis.predmet_id and p.sem_izvanredni == 8 %}
                        {{ p.ime }} ({{ upis.status }}) <br>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <br>
            {% endif %}
    
    
    <a href="{% url 'Sustav-Početna' %}">Natrag</a>
{% endblock content%}